{{ define "main" }}
<div class="container-fluid index">
    <div class="row index all-posts">

        <h1 class="header author-header">{{ .Site.Title }}</h1>
        <h2 class="header" itemprop="headline">All posts</h2>

        <div class="articles">

            {{ range $year := .Pages.GroupByDate "2006" }}
            <div class="col-md-12 content-panel articles">
                <h2 id="{{ $year.Key}}-ref">{{ $year.Key}}</h2>
                <ul>
                    {{ range $year.Pages }}
                    {{ if eq .Type "post"}}
                    <li>
                        {{ if isset .Params "canonical" }}
                        <a href="{{ .Params.canonical }}" target="_blank" rel="noopener noreferrer">
                            {{ .Title }}
                            <i class="fas fa-external-link-alt" style="font-size: 0.5em;" title="Canonical version"></i>
                        </a>
                        <a href="{{ .Permalink }}">
                            <i class="fas fa-archive" style="font-size: 0.5em;" title="Archived version"></i>
                        </a>
                        {{ else }}
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                        {{ end }}
                        <small class="hidden-xs">{{ .Date.Format "January 2"}}</small>
                    </li>
                    {{ end }}
                    {{ end }}

                </ul>
            </div>
            {{ end }}

        </div>
    </div>
</div>
{{ end }}