{{ define "main" }}
<div class="container-fluid single">
    <div class="row">

        <div itemscope itemtype="http://schema.org/Article" class="col-md-12 article">

            {{ partial "article_title.html" .}}

            <div class="content-panel content">

                {{ partial "series_header.html" . }}

                <span itemprop="articleBody">{{ .Content }}</span>


                <span id="finished-article" article="{{ .Title}}"></span>

                <div class="tags">
                    <small>
                        <i class="fa fa-tags"></i>
                        {{ delimit .Params.tags ", " }}
                    </small>
                </div>

            </div>

        </div>

    </div>

</div>
</div>

{{ end }}
