<div class="footer clearfix">
  <div class="col-md-6">
    {{ .Site.Params.footer_left | markdownify }}
  </div>
  <div class="col-md-6">
    {{ .Site.Params.footer_right | markdownify }}
  </div>
</div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/jquery.mmenu.min.all.js"></script>
<script src="{{ .Site.BaseURL }}/js/noframework.waypoints.min.js"></script>
<script src="{{ .Site.BaseURL }}/js/autolinks.js" defer></script>
<script src="{{ .Site.BaseURL }}/js/events.js" defer></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
  $(document).ready(function () {
    $("#my-menu").mmenu().on("closed.mm", function () {
      $(".menu-button").show();
    });
    $(".menu-button").click(function () {
      $(".menu-button").hide();
      $("#my-menu").trigger("open.mm");
    });
  });
</script>
<script>renderMathInElement(document.body);</script>
