<nav id="my-menu">
  <div>
    <p>{{ .Site.Title }}</p>

    <ul class="pages">
      <li><a href="{{ .Site.BaseURL }}/"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="{{ .Site.BaseURL }}/post/"><i class="fa fa-archive"></i> All Posts</a></li>
      <li><a href="{{ .Site.BaseURL }}/about/"><i class="fa fa-question-circle"></i> About</a></li>
      <li><a href="{{ .Site.BaseURL }}/search/"><i class="fa fa-search"></i> Search</a></li>
    </ul>

    {{ partial "social_links.html" . }}
  </div>
</nav>
<div class="menu-button" href="#menu"><i class="fa fa-bars"></i></div>
