<p class="links">
  <a href="https://gitlab.com/{{ .Site.Data.Social.gitlab }}" target="_new"><i class="fab fa-gitlab"></i></a>
  <a href="https://github.com/{{ .Site.Data.Social.github }}" target="_new"><i class="fab fa-github-alt"></i></a>
  <a href="https://stackoverflow.com/users/{{ .Site.Data.Social.stackoverflow }}" target="_new"><i
      class="fab fa-stack-overflow"></i></a>
  <a href="{{ .Site.BaseURL }}/feed.xml" target="_new"><i class="fa fa-rss"></i></a>
</p>
