{{ define "main" }}
<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 main content-panel">

            <div class="gravatar">
                <img src="{{ .Site.Params.HeroImage }}" class="img-circle about-image" height="150" width="150"
                    alt="{{ .Title }}" />
            </div>

            <h1 class="header author-header" itemprop="headline">{{ .Title }}</h1>

            <div class="author-text">
                {{ .Site.Params.description | markdownify }}
            </div>

            {{ partial "social_links.html" . }}
        </div>
        <div class="col-md-12 main content-panel">

            <div class="articles">

                <h2>Latest Articles</h2>

                <ul>

                    {{ range first 5 (where site.RegularPages "Type" "eq" "post") }}
                    <li>
                        {{ if isset .Params "canonical" }}
                        <a href="{{ .Params.canonical }}" target="_blank" rel="noopener noreferrer">
                            {{ .Title }}
                            <i class="fas fa-external-link-alt" style="font-size: 0.5em;" title="Canonical version"></i>
                        </a>
                        <a href="{{ .Permalink }}">
                            <i class="fas fa-archive" style="font-size: 0.5em;" title="Archived version"></i>
                        </a>
                        {{ else }}
                        <a href="{{ .Permalink }}">{{ .Title }}</a>
                        {{ end }}
                        <small class="hidden-xs">{{ .Date.Format "January 2, 2006"}}</small>
                    </li>
                    {{ end }}

                    <li>
                        <small><i><a href="{{ .Site.BaseURL }}/post/">more...</a></i></small>
                    </li>
                </ul>

            </div>

        </div>

    </div>
</div>
{{ end }}